extends layout

block content
 img.background(src="/images/bg.jpg")
 h4.hours.white-text 00:00:00
 #films
      h4.black-text Films
          .circle
 #remoteconfig.modal
      .modal-content
        h4.teal-text Configuration d'une nouvelle télécommande
        h5 