doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='/css/newtropens.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    script(src='/js/socket.io.js')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.mobile.min.js')
    script(src='/js/materialize.min.js')
    script(src='/js/newtropens.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
